.clase-pagina-dashboard{
    width: 60%;
    margin: 2rem auto;
    display: flex;

    button{
        padding: 0.5rem;
        font-size: 1em;
        border-radius: 10px;
        border-color: darkgray;
        display: block;
    }

    .avatar{
        width: 200px;
    }

    form{
        margin: 0 4rem;
        
        *{
            
            display: block;
            margin: 5px;
            font-size: 1rem;
            
            label{
                font-weight: bolder;
            }
            
            button{
                display: block;
                margin: auto;
            }
        }
    }
}