.form-login{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1rem;
    line-height: 2rem;

    *{
        height: 2rem;
    }

    button{
        margin: 1rem auto 0 auto;
        width: 40%;
        height: 3rem;
        font-size: 1.2rem;
    }
}

.form-login:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}